name: Docker Image CI for GHCR

on: push

jobs:
    build_and_publish:
        runs-on: ubuntu-latest

        permissions:
            contents: read
            packages: write # IMPORTANT for pushing to GHCR!

        steps:
            - uses: actions/checkout@v3

            - name: Login to GitHub Container Registry
              uses: docker/login-action@v2
              with:
                  registry: ghcr.io
                  username: MilanVives
                  password: ${{ secrets.GH_PAT }}

            - name: Build and Push the image
              uses: docker/build-push-action@v5
              with:
                  push: true
                  tags: ghcr.io/milanvives/containerizedapp:latest
